fieldset {
  position: relative;
}

//
// inputs
//
.input,
.input-child input {
  font-weight: 500;
  line-height: 1.4;
  color: $space;
  font-size: 1em;

  display: inline-block;
  padding: 0.6em 1em;
  width: 100%;
  margin-bottom: 1em;

  border-radius: 2px;
  border: 1px solid $grey-smoke;

  transition: border $tranitions;
  @include placeholder($grey);

  @media screen and (min-width: $tablet) {
    padding: 0.9em 1.14em 1em;
    font-size: 0.8em;
  }

  &[disabled],
  &.disabled {
    background: $grey-bg;
    color: $grey-smoke-dark;
    @include placeholder($grey-smoke-dark);
  }

  &:focus {
    border-color: $grey-light;
  }

  &.question {
    height: 100px;
  }
}

.input-child {
  margin-bottom: 0 !important;
}

// prefix
[data-prefix] {
  position: relative;
  &:before {
    content: attr(data-prefix);
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 1.4em;
    line-height: 3.1;
    font-size: 0.8em;

    @media screen and (min-width: $tablet) {
      bottom: 1.2em;
    }
  }

  .error-message {
    display: none;
  }

  input {
    padding-left: 7em;
  }
}

// icons
.input--icon-user {
  background-image: url(../images/contact/user.svg);
  background-position: 1em center;
  background-repeat: no-repeat;
  padding-left: 3em;
  &-light {
    background-image: url(../images/contact/user--light.svg);

  }
}

.input--icon-email {
  background-image: url(../images/contact/email.svg);
  background-position: 1em center;
  background-repeat: no-repeat;
  padding-left: 3em;
  &-light {
    background-image: url(../images/contact/email--light.svg);
  }
}

.input--icon-search {
  background-image: url(../images/marketplace/search.svg);
  background-position: 1em center;
  background-repeat: no-repeat;
  padding-left: 3em;
}

// error
.error-message {
  color: $warning;
  text-transform: uppercase;
  font-size: 0.6em;
  position: absolute;
  right: 0;
  top: 0.7em;
  animation: slide 0.3s ease;
}

@keyframes slide {
  0% {
    transform: translateY(1.3em);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//
// selects
//
.select {
  font-size: 1em;
  border-radius: 2px;
  position: relative;
  transition: border $tranitions;

  &:after {
    content: '';
    width: 0.4em;
    height: 0.4em;
    display: block;
    transform: rotate(135deg);
    position: absolute;
    top: 0.8em;
    right: 0.8em;
  }

  select {
    width: calc(100% - 0.7em);
    padding: 0.4em 1em;
  }

  &.error {
    border-color: $warning !important;
  }

  .error-message {
    display: none;
  }

  @media (min-width: $tablet) {
    font-size: 0.8em;

    select {
      padding: 0.82em 1em;
    }

    &:after {
      width: 0.5em;
      height: 0.5em;
      top: 1em;
      right: 1em;
    }
  }
}

// space rules
.label--small {
  + .select,
  + .input-child,
  + .input {
    margin-top: 0.3em;
    margin-bottom: 1em;
  }
}

.required-field {
  color: $warning;
  font-size: 16px;
  margin-left: 2px;
}

.terms {
  margin: 0;
}

// featherlight



body.light .featherlight.featherlight-form .featherlight-content {
  background: #fff;
}

body.dark .featherlight.featherlight-form .featherlight-content {
  background: $space-b;
}

.light .featherlight-form.featherlight:last-of-type {
  background: rgba(3,12,26,.85);
}
.featherlight-form {

  .featherlight-content {
    width: 544px;
    padding: 0 !important;
    box-shadow:  0 2px 16px 0 rgba(0, 0, 0, 0.5);

    @media screen and (max-width: $tablet) {
      width: auto;
    }

    #sales-contact-form-wrap, #partner-contact-form-wrap {
      display: block;
      margin: 34px 48px;
      margin-bottom: 0;

      @media screen and (max-width: $tablet) {
        margin: 64px 32px;
      }
    }

    h3 {
      font-weight: bold;
    }

    #pricing-form__after-box {
      display: block;
      margin: 10px 30px;
      color: $space;
      h3 {
        font-weight: bold;
        font-size: 32px;
        color: $space;
        margin-bottom: 24px;
      }
    }


    .featherlight-close-icon {
      background: none;
      color: $grey;
      font-size: 1.2em;
      margin-right: 32px;
      margin-top: 32px;
    }
  }
}
#pricing-form__after-box {
  display: none;
}

#sales-contact-form-wrap, #partner-contact-form-wrap {
  display: none;

  #companySize, #inquiry {
    width: 100%;
    height: 44px;
    padding-left: 10px;
    option {
      color: $space;
    }

    option:first-child {
      color: $grey;
    }
  }
}
