{% assign tb = site.data.i18n-box[include.lang] %}

<section class="container">
    <div class="card theme_box--dark-strong {{include.box-type}}">
        <div class="wrap">
            {% if include.box-type == "partner-box"%}
                <p class="label theme_type--grey">{{tb.partner_become}}</p>
                <h2 class="display theme_type--dark">{{tb.parner_title}}</h2>
                <p class="theme_type--grey">{{tb.parner_text}}</p>
                <a class="button" href="/become-partner">{{tb.partner_become}}</a>
            {% elsif include.box-type == "migrate-box" or include.box-type == "migrate-box--small"%}
                <h2 class="display--big theme_type--dark">Ready to Migrate to Rocket.Chat?</h2>
                <div class="content-page__box-buttons">
                    <a href="/contact" rel="noopener noreferrer" class="button">Contact Sales</a>
                    <a href="https://rocket.chat/docs/administrator-guides/import/hipchat/" class="button button--ghost">View Migration Docs</a>
                </div>
                <div class="space--1"></div>
            {% endif %}
        </div>
    </div>
</section>