{% assign tc = site.data.i18n-contact[include.lang] %}
{% assign tg = site.data.i18n-general[include.lang] %}

<div id="{% if page.class == 'pricing' %}pricing-{% else %}solution-{% endif %}form__after-box">
    <div class="col--haft">
        <div class="space--2"></div>
        <p class="label theme_type--grey">{{tg.contact-us}}</p>
        <h2 class="display--small theme_type--{{page.theme}}"><strong>{{tc.contact_popover-message-sent}}</strong></h2>
        <p class="theme_type--{{page.theme}}">{{tc.contact_popover-thanks}}</p>
        <button class="button featherlight-extra-close">Ok</button>
        <div class="space--1"></div>
    </div>
    <script>
    $('.featherlight-extra-close').on('click', function(){
        $('.featherlight-close').click();
    });
    </script>
</div>